<h4 class="text-muted">{{formName}}</h4>
<form method="get" action="/form/addData">
  <button type="submit" class="btn btn-default">Add</button>
</form> <br/>
<div>
    <table class="table table-bordered">
      <thead>
        {{#each formHeaders}}
          <th>{{name}}</th> 
        {{/each}}
      </thead> 
      <tbody> 
          {{#each formData}}
            <tr>
            
              {{#each this}}
                {{#if this.value}}
                  <td>{{this.value}}</td>
                {{/if}}
              {{/each}}

            </tr>
          {{/each}} 
      </tbody>
  </table>
</div>