<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
<h4 class="text-muted">{{formName}}</h4>
</div>
<div class="panel-body" style="height:auto;">

<form method="post" action="/form/addData">
	<p id="demo"></p>
	<button type="submit" class="btn btn-default">Submit</button>
	<button type="submit" class="btn btn-default" formaction="/form/cancelData">Cancel</button>
</form>

<script>

var myObj, i, j, x = "";
myObj = {{{formFields}}};

document.getElementById("demo").innerHTML = myFunction1(myObj);

function myFunction1(myObj){

	for (i in myObj) {
	        
		
		curObj = myObj[i];
		
		switch(myObj[i].type) {
			case "text":
				x += convertInput_Type_Text(curObj);
				break;
			case "radio":
				x += convertInput_Type_Radio(curObj);
				break;
			case "select":
				x += convertInput_Type_Select(curObj);
				break;
			case "checkboxes":
				x += convertInput_Type_CheckBoxes(curObj);
				break;
			case "textarea":
				x += convertInput_Type_TextArea(curObj);
				break;
			case "multiple":
				x += convertInput_Type_Multiple(curObj);
				break;
			case "subheading":
				x += convertInput_Type_Subheading(curObj);
				break;
			default:
				text = "Bad Input type...";
		}		
		
		
	}

	return x;
}


function convertInput_Type_Text(curObj){        
  
	y = '<b>' + curObj.name + '</b><br>'; 
	
	    y += '<input type=' + curObj.type + ' name=' + '"' + curObj.name + '"' +' required>';
	
	y += '<br><br>';

	return y;
}

function convertInput_Type_Subheading(curObj){        
  
	y = '<h3>' + curObj.name + '</h3><br>'; 
	
	
	y += '<br><br>';

	return y;
}

function convertInput_Type_Radio(curObj){

	y = '<b>' + curObj.name + '</b><br>'; 
	
	for (j in curObj.options) {
		y += ' <input type=' + curObj.type + ' name=' + '"' + curObj.name + '"' +' value=' + '"' + curObj.options[j].value + '"' +' required>' + curObj.options[j].name +'<br>';
	}
	
	y += '<br>';

	return y;
}


function convertInput_Type_Select(curObj){

	y = '<b>' + curObj.name + '</b><br>'; 
	
	y += '<select name=' + curObj.name+ '>'
		
	for (j in curObj.options) {
		y += ' <option value=' + curObj.options[j].value + '>' + curObj.options[j].name + '</option>' + '<br>';
	}
	
    y += '</select>'; 
	
	y += '<br><br>';
	
	return y;

}


function convertInput_Type_CheckBoxes(curObj){

	y = '<b>' + curObj.name + '</b><br>'; 
	
	for (j in curObj.options) {
		y += ' <input type=' + 'checkbox' + ' name=' + '"' + curObj.options[j].name + '"' +' value=' + '"' + curObj.options[j].value + '"' +' required>' + curObj.options[j].name +'<br>';
	}
	
	y += '<br>';

	return y;
}


function convertInput_Type_TextArea(curObj){	
	
    y = '<b>' + curObj.name + '</b><br>'; 

	y += '<textarea rows="4" cols="50" name=' + curObj.name  + 'form="usrform">' + '</textarea>';
	
	y += '<br><br>';

	return y;
}


function convertInput_Type_Multiple(curObj){

	y = '<b>' + curObj.name + '</b><br>'; 
	
	y += '<select name=' + curObj.name + ' multiple>'
		
	for (j in curObj.options) {
		y += ' <option value=' + curObj.options[j].value + '>' + curObj.options[j].name + '</option>' + '<br>';
	}
	
    y += '</select>'; 
	
	y += '<br><br>';
	
	return y;

} 

</script>

</div>
</div>
</div>
</div>
</div>