<h4 class="text-muted">{{formName}}</h4>

<p id="demo"></p>

<script>
	
var myObj, i, j, x = "";
myObj = {{{formFields}}};

document.getElementById("demo").innerHTML = myFunction1(myObj);

function myFunction1(myObj){

	for (i in myObj) {
	        
		
		curObj = myObj[i];
		
		switch(myObj[i].type) {
			case "text":
				x += convertInput_Type_Text(curObj);
				break;
			case "radio":
				x += convertInput_Type_Radio(curObj);
				break;
			case "select":
				x += convertInput_Type_Select(curObj);
				break;
			case "checkboxes":
				x += convertInput_Type_CheckBoxes(curObj);
				break;
			case "textarea":
				x += convertInput_Type_TextArea(curObj);
				break;
			case "multiple":
				x += convertInput_Type_Multiple(curObj);
				break;
			default:
				text = "Bad Input type...";
		}		
		
		
	}

	return x;
}


function convertInput_Type_Text(curObj){        
  
	y = '<b>' + curObj.name + '</b><br>'; 
	
	if (curObj.value == undefined) {
		y += '<input type=' + curObj.type + ' name=' + '"' + curObj.name + '"' +' placeholder=' + '"' + curObj.placeholder + '"' +' required>';
	}else{
	    y += '<input type=' + curObj.type + ' name=' + '"' + curObj.name + '"' +' value=' + '"' + curObj.value + '"' +' required>';
	}
	
	y += '<br><br>';

	return y;
}


function convertInput_Type_Radio(curObj){

	y = '<b>' + curObj.name + '</b><br>'; 
	
	for (j in curObj.options) {
		y += ' <input type=' + curObj.type + ' name=' + '"' + curObj.options[j].name + '"' +' value=' + '"' + curObj.options[j].value + '"' +' required>' + curObj.options[j].name +'<br>';
	}
	
	y += '<br>';

	return y;
}


function convertInput_Type_Select(curObj){

	y = '<b>' + curObj.name + '</b><br>'; 
	
	y += '<select name=' + curObj.name+ '>'
		
	for (j in curObj.options) {
		y += ' <option value=' + curObj.options[j].value + '>' + curObj.options[j].name + '</option>' + '<br>';
	}
	
    y += '</select>'; 
	
	y += '<br><br>';
	
	return y;

}


function convertInput_Type_CheckBoxes(curObj){

	y = '<b>' + curObj.name + '</b><br>'; 
	
	for (j in curObj.options) {
		y += ' <input type=' + 'checkbox' + ' name=' + '"' + curObj.options[j].name + '"' +' value=' + '"' + curObj.options[j].value + '"' +' required>' + curObj.options[j].name +'<br>';
	}
	
	y += '<br>';

	return y;
}


function convertInput_Type_TextArea(curObj){	
	
    y = '<b>' + curObj.name + '</b><br>'; 

	y += '<textarea rows="4" cols="50" name=' + curObj.name  + 'form="usrform">' + curObj.placeholder + '</textarea>';
	
	y += '<br><br>';

	return y;
}


function convertInput_Type_Multiple(curObj){

	y = '<b>' + curObj.name + '</b><br>'; 
	
	y += '<select name=' + curObj.name + ' multiple>'
		
	for (j in curObj.options) {
		y += ' <option value=' + curObj.options[j].value + '>' + curObj.options[j].name + '</option>' + '<br>';
	}
	
    y += '</select>'; 
	
	y += '<br><br>';
	
	return y;

}


</script>