<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default animated fadeInLeft">
				<div class="panel-heading">
					<h3 class="panel-title">Form Details</h3>
				</div>
				<div class="panel-body" style="height:250px;">
				<form name="myformName_form" class="form" ng-submit="createForm()">
					<div class="form-group">
						<label for="newFormName-name">Form Name:</label> 
						<input type="text" name="newFormName" class="form-control" id="newFormName-name" ng-model="newFormName.name" ng-required placeholder ="Enter a valid Form Name">
						<!-- <span ng-show="myformName_form.newFormName.$dirty && myformName_form.newFormName.$error.required && myformName_form.$submitted">Form Name is required</span> -->
				<span class="help-block" ng-show="myformName_form.newFormName.$invalid">
                            Form name is required.
                        </span>
					</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default animated fadeInLeft">
				<div class="panel-heading">
					<h3 class="panel-title">Form Builder : {{newFormName.name}}</h3>
				</div>
				<div class="panel-body" style="height:250px;overflow:auto;">
					<form name="myform" class="form" ng-submit="saveField()" ng-class="{'has-error':myform.newFieldName.$invalid && !mform.newFieldName.$ispristine}" >
						<div class="form-group">
							<label for="newField-name">Field Name: </label> 
							<input type="text" name="newFieldName" ng-minlength="3"
								class="form-control" id="newField-name" ng-model="newField.name" ng-required placeholder ="Enter a valid Field Name">
								  <p ng-show="myform.newFieldName.$invalid && !myform.newFieldName.$pristine" class="help-block">Enter a valid FieldName.</p>

						</div>
						<div class="form-group">
							<label for="newField-type">Field Type:</label> 
						<select	class="form-control" id="newField-type" ng-model="newField.type" ng-required>
								<option value ="" disbaled selected hidden> Select a Field-Type</option>
								<option value="text">Text</option>
								<option value="radio">Radio Buttons</option>
								<option value="select">Drop Down Menu </option>
								<option value="multiple">Multi-Select</option>
								<option value="checkboxes">Checkboxes</option>
								<option value="textarea">Paragraph</option>
								<option value="submit">Submit</option>
							</select>
						</div>
						<ng-switch on="typeSwitch(newField.type)">
						<fieldset ng-switch-when="multiple">
							<legend>
								<a class="btn btn-default btn-xs" ng-click="addOption()">Add Option</a>
							</legend>
							<div class="panel panel-default"
								ng-repeat="option in newField.options|orderBy:'order'">
								<div class="panel-body">
									<b><i>Option:</i></b>
									<button class="btn btn-basic btn-xs"
										ng-click="splice(option, newField.options)">Remove</button>
									<div class="form-group">	
 										Name: <input class="form-control" type="text" ng-model="option.name"
												ng-required>
										Value: <input class="form-control" type="text"
												ng-model="option.value">
									</div>
								</div>
							</div>
						</fieldset>
						<span ng-switch-when="checkbox"></span> <span
							ng-switch-when="header"></span> </ng-switch>
						<div>
							<input class="btn btn-basic" type="submit"  value="Create New Field">
						</div>
					</form>
				</div>
			</div>
		</div>
	
		<div class ="col-md-12" ng-mouseover="$log(fields.length)" ng-hide="fields.length<1">
			<div class="panel panel-default animated fadeInRight" >
				<div class="panel-heading">
					<h3 class="panel-title">Form Preview</h3>
				</div>
				<div  class="panel-body" style="height:400px;overflow:auto;">
					<div ng-repeat="field in fields | orderBy:'order'">
						<ng-switch on="field.type">
						<h3 ng-switch-when="header" class="animated fadeInRight">
							<button class="btn btn-basic btn-xs" ng-click="editField(field)">Edit</button>
							<button class="btn btn-basic btn-xs" ng-click="splice(field, fields)">Delete</button>
						</h3>
						<div ng-switch-default class="input {{field.type}}"
							ng-class="field.required && 'required'">
							<div class="form-group">
								<label>
									{{field.name}} 
									<button class="btn btn-basic btn-xs" ng-click="editField(field)">Edit</button>
									<button class="btn btn-basic btn-xs" ng-click="splice(field, fields)">Remove</button>	
								</label>
							
								<ng-switch on="field.type"> 
									<input class="form-control animated fadeInRight" ng-switch-default
										type="{{field.type}}" ng-model="field.value"
										ng-bind-attr="{required:'{{field.required}}'}"
										value="{{field.value}}" >
									<input ng-switch-when="checkbox" type="checkbox" class="animated fadeInRight"
										ng-model="field.value" value="{{field.value}}" id="field">
									<textarea class="form-control animated fadeInRight"
										ng-switch-when="textarea" ng-model="field.value">{{field.value}}
									</textarea> 
									<select class="form-control animated fadeInRight"
										ng-switch-when="select" ng-model="field.value">
										<option ng-repeat="option in field.options"
											value="{{option.value}}"
											>{{option.name}}
										</option>
									</select> 
									<select class="form-control animated fadeInRight" 
										ng-switch-when="multiple" ng-model="field.value" multiple>
										<option ng-repeat="option in field.options"
											value="{{option.value}}">{{option.name}}
										</option>
									</select>
									<fieldset ng-switch-when="radio">
										<label ng-repeat="option in field.options"> 
											<input class="animated fadeInRight"
												type="radio" ng-model="field.value" value="{{option.value}}">
											{{option.name}}
										</label>
									</fieldset>
									<fieldset ng-switch-when="checkboxes">
										<label ng-repeat="option in field.options"> 
											<input class="animated fadeInRight"
												type="checkbox" ng-model="field.value[tokenize(option.name)]"
												value="{{option.value}}"> {{option.name}}
										</label>
									</fieldset>
									<fieldset ng-switch-when="submit">
											<input class="btn btn-basic" type="submit" ng-click=" " value="Submit"> 
									</fieldset>
								</ng-switch>
							</div>
						</div>
						</ng-switch>
					</div>
				</div>
			</div> 
	</div>
	<div class="container" class="row">
		<div class="col-md-12" class="panel-primary animated fadeInLeft">
			<input class="btn btn-basic" type="submit" ng-disabled="!myformName_form.newFormName.$valid" ng-click=submitFieldsOfForm() value="Submit Form Fields">
		</div>
	</div>
</div>
